.App {
  min-height: 100vh;
  flex-direction: column-reverse;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  background-color:grey;
}
.App-logo {
  height: 40vmin;
  align-content: space-around;
  display: flex;
}
.title {
  color:pink;
  font-style:normal;
  font-size: 50px;
  align-items: center;
  display: flex;
  

}
.border{
  border: 10px white;
  padding: 20%;
  border-style:double;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputTodo{
  display: flex;
  width: 300px;
  justify-content:space-around;
  border-radius: 20px;
}

input{
  width: 60%;
  padding:10px;
  border-radius: 20px;
  border: 2.5px solid pink
}

button{
  border:2px solid pink ;
  padding:10px;
  border-radius: 20px;
  margin: 0 5px;
}

.groupDisp{
  border-radius: 70px;
  margin:10px 0;
  background-color:pink;
  border: 1px solid black;
  padding: 10px 20px;
  display: flex;
  width: 400px;
  align-items: center;

  

}
.inputDisp{
  flex: 10;
  padding-right: 50%;
  justify-content: space-around;
  display: inline-block;
  
}
