
.App {
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: antiquewhite;
  background-color: rgb(0, 255, 85);
}

.border{
  display:flex;
  height: 80vh;
  border: 2px solid pink;
  justify-content: center;
  align-items: center;
  color: blue;
  background-color: blueviolet;
}